{{#if success_msg}}
<div class="fw-bold p-1" style="background-color: hwb(313 37% 5%);">{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
<div class="fw-bold p-1" style="background-color: hwb(313 37% 5%);">{{error_msg}}</div>
{{/if}}