 <!-- navigation -->
  <nav class="navbar fixed-top navbar-light " style="background-color: blanchedalmond;">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
      <div>

      
      <form action="/logOut" method="post" style="display: inline;">
      <button type="submit" class="btn btn-major" >logout</button>
      </form>
      </div>
    </div>
  </nav>