<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>restaurant-list</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/detailstyle.css">
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
        <form action="/restaurants/add">
          <div class="input-group-append">
            <button class="btn btn-major" type="add-btn" id="search-button"> + <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>
    </nav>

    <div class="banner"></div>

  </header>

  {{{body}}}

  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>