<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>restaurant-list</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/detailstyle.css">
</head>

<body>
  

  {{{body}}}
  <script src="/javascripts/help.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/help.js"></script>
</body>

</html>