<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>restaurant-list</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/detailstyle.css">
</head>
<header>
  <!-- navigation -->
  <nav class="navbar fixed-top navbar-light " style="background-color: blanchedalmond;">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
      <a class="btn btn-major" href="/restaurants/add" role="button" aria-expanded="add-favorite button"
        aria-controls="collapseExample">
        Create
      </a>
    </div>
  </nav>
  <div class="banner"></div>
</header>
<body>
  

  {{{body}}}
  <script src="/javascripts/help.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/help.js"></script>
</body>

</html>